In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import linear_model

In [2]:
df = pd.read_csv("car_data.csv")

In [3]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [23]:
df=df.drop(labels=['Make','Model','Trim','Type'], axis=1)
df

            Price  Mileage  Cylinder  Liter  Doors  Cruise  Sound  Leather
0    17314.103129     8221         6    3.1      4       1      1        1
1    17542.036083     9135         6    3.1      4       1      1        0
2    16218.847862    13196         6    3.1      4       1      1        0
3    16336.913140    16342         6    3.1      4       1      0        0
4    16339.170324    19832         6    3.1      4       1      0        1
..            ...      ...       ...    ...    ...     ...    ...      ...
799  16507.070267    16229         6    3.0      4       1      0        0
800  16175.957604    19095         6    3.0      4       1      1        0
801  15731.132897    20484         6    3.0      4       1      1        0
802  15118.893228    25979         6    3.0      4       1      1        0
803  13585.636802    35662         6    3.0      4       1      0        0

[804 rows x 8 columns]

In [39]:
X=df.iloc[:,1:7].values

Y=df.iloc[:,0].values

In [41]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test= train_test_split(X, Y, test_size= 0.2, random_state=0)

In [46]:
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression()

In [47]:
y_pred= regressor.predict(X_test)

In [48]:
print('Train Score: ', regressor.score(X_train, y_train))  
print('Test Score: ', regressor.score(X_test, y_test))

Train Score:  0.4444828833415946
Test Score:  0.33145949151384113

In [49]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 6273.5648115873355
Mean Squared Error: 61138667.0024437
Root Mean Squared Error: 7819.121881800008

# ùëÖ2 score

In [55]:

regressor.score(X_train, y_train)

print('Train Score: ', regressor.score(X_train, y_train))  
print('Test Score: ', regressor.score(X_test, y_test))

Train Score:  0.4444828833415946
Test Score:  0.33145949151384113